<div class="info-mobile">
    <h1>Oj, något gick fel!</h1>

    <p>
        Du trodde kanske att du skulle hamna på en annan sida?
        Ledsen, men den skrotades under utvecklingsprocessen.
        Och för information, alla informationsrutor på startsidan leder hit!
    </p>
</div>

<div class="info-desktop">
    <h1>Oj, något gick fel!</h1>

    <p>Du trodde kanske att du skulle hamna på en annan sida? Ledsen, men den skrotades under
        utvecklingsprocessen. Men när du ändå är här, läs ett trevligt citat här nedan.
    </p>
</div>

<div class="oak-and-quote">
    <img id="oak" [src]="image" alt="En ek">
    <div id="quote">
        <h3>"Det är bättre att fråga och verka okunnig än att inte fråga och förbli det."</h3>
        <p>- Kinesiskt ordspråk</p>
    </div>
</div>