<footer class="footer">

    <div class="contact">
        <h2>Kontakt</h2>
        <p>
            <i class="fa-solid fa-phone"></i><strong>Telefon:</strong> 0451-123123
            <br>
            <i class="fa-solid fa-envelope"></i><strong>E-post:</strong> info&#64;hasslehogskola.se
            <br>
            <i class="fa-solid fa-house"></i><strong>Adress:</strong> Hässle Högskola, 281 51 Hässleholm
        </p>
    </div>

    <div class="brands">
        <h3>Följ oss här</h3>

        <p>
            <a href="https://www.facebook.com" target="_blank">
                <i class="fa-brands fa-facebook fa-2xl" style="color: #f2a900;"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <i class="fa-brands fa-instagram fa-2xl" style="color: #f2a900;"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <i class="fa-brands fa-youtube fa-2xl" style="color: #f2a900;"></i>
            </a>
        </p>
    </div>
</footer>