// Importerar variabler.
@import '../../variables';

// Footer.
footer {
    height: 200px;
    width: 100%;
    bottom: 0;
    background-color: $greige;
    text-align: left;
    color: $black;
    padding: 1rem;
    line-height: 1.6;
}