// Importerar variabler.
@import '../../base';

// Footer.
.footer {
    height: 300px;
    max-width: 100%;
    background-color: darken($greige, 10%);
    color: $white;
    text-align: left;
    line-height: 1.6;
    padding: 1rem 1rem 1rem 2rem;

    .contact {
        h2 {
            font-size: 2em;
        }

        p {
            margin-bottom: 2rem;
        }
    }

    // Ikoner för kontakt.
    .fa-solid {
        padding-right: 0.5rem;
    }

    // Ikoner för sociala medier.
    .fa-brands {
        padding: 1.5rem 1rem 0 0;
        color: $white;

        // Hover-effekt.
        &:hover {
            color: $yellow;
        }
    }

    // Logotyp i footern som ej syns i mobil-läget.
    img {
        display: none;
    }
}

// Mediaquery för större skärmar, 769px och uppåt.
@media (min-width: 769px) {

    // Footer.
    .footer {
        position: relative;

        // Logotyp.
        img {
            display: inline-block;
            height: 100px;
            width: auto;
            padding: 1rem 0 0 1rem;
            justify-self: center;
            max-width: 100%;
            position: absolute;
            right: 3rem;
            bottom: 3rem;
        }
    }
}