<h1>Kurser</h1>

<div class="info">
    <p>
        Här visas alla våra tillgängliga och sökbara kurser. Hittar du några intressanta kurser som du 
        önskar lägga i ett egenkomponerat ramschema, klicka på lägg till. 
    </p>
</div>

<div class="container">
    <div class="form">
        <label for="searchInput" id="label-filtrate">Filtrera kurser:</label>
        <br>
        <input type="text" id="searchInput" placeholder="Skriv kurskod eller kursnamn" [(ngModel)]="filterValue" (input)="applyFilter()">
        <br>
        <label for="subject" id="label-subject">Filtrera på ämne:</label>
        <br>
        <select name="subject" id="subject" placeholder="Välj ämne">
            <option value=""> </option>
            <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
        </select>
    </div>

    <div class="table-container">
        <p>Totalt antal kurser:</p>
        <p>Utifrån aktuell filtrering visas:</p>
        <table class="table">
            <thead>
                <tr>
                    <th id="code" (click)="sortByCode()">Kurskod</th>
                    <th id="name" (click)="sortByName()">Kursnamn</th>
                    <th id="points" (click)="sortByPoints()">Poäng</th>
                    <th id="subject" (click)="sortBySubject()">Ämne</th>
                </tr>
            </thead>
            <tbody id="course-info">
                <tr *ngFor="let course of filteredCourseList">
                    <td>{{ course.courseCode.toUpperCase() }}</td>
                    <td>{{ course.courseName }}</td>
                    <td>{{ course.points }}</td>
                    <td>{{ course.subject }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>