// Importerar variabler.
@import '../../variables';

// Information om sidan.
.info,
.courses-count {

    p {
        text-align: center;
        margin: 0 2rem;
    }
}

// Container för ramschema.
.container {
    max-width: 100%;

    // Formulär: filtrering.
    .form {
        text-align: center;
        padding: 2rem 0;
        letter-spacing: 1px;

        label {
            font-size: 20px;
        }

        #searchInput,
        #subject {
            width: 50%;
            border: 2px solid $green;
            border-radius: 5px;
            padding: 7px 7px;
            margin: 10px 0 1rem 0;
        }

        @media (min-width: 769px) {

            #searchInput,
            #subject {
                width: 25%;
            }
        }

        @media (min-width: 1921px) {

            #searchInput,
            #subject {
                width: 15%;
            }
        }
    }

    // Kurstabell för mobil/tablet.
    .table-mobile {
        margin-bottom: 3rem;
        margin: 2rem auto;
        border: 2px solid $green;
        border-radius: 5px;

        a {
            cursor: pointer;
            text-decoration: none;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
            font-size: 14px;
            max-width: 150px;
        } 

        thead {
            background-color: rgba($green, 75%);
            font-size: 15px;

            #code,
            #name,
            #points,
            #subject {
                cursor: pointer;
            }
        }

        tr:nth-child(even) {
            background-color: rgba($green, 50%);
        }

        .fa-star {
            cursor: pointer;
            color: $yellow;
            padding-left: 0.75rem;
        }

        .fa-regular {
            color: $black;
        }
    }

    // Kurstabell för mobil/tablet.
    .table-desktop {
        display: none;
    }
}

// Mediaquery för större skärmar.
@media (min-width: 769px) {

    .container {

        // Kurstabell för mobil/tablet.
        .table-mobile {
            display: none;
        }

        // Kurstabell för desktop.
        .table-desktop {
            display: block;
            overflow-x: auto;
            margin-bottom: 3rem;
            margin: 2rem auto;
            border: 2px solid $green;
            border-radius: 5px;

            a {
                cursor: pointer;
                text-decoration: none;
            }

            th,
            td {
                padding: 10px;
                text-align: left;
            }

            thead {
                background-color: rgba($green, 75%);
                text-shadow: 2px 1px 2px $white;

                #code,
                #name,
                #points,
                #subject {
                    cursor: pointer;
                }
            }

            #course-info tr td {
                font-size: 14px;
            }

            tr:nth-child(even) {
                background-color: rgba($green, 50%);
            }

            .fa-star {
                cursor: pointer;
                color: $yellow;
                padding-left: 0.75rem;
            }
    
            .fa-regular {
                color: $black;
            }
        }

        p {
            text-align: center;
            margin: 0 2rem;
        }
    }
}