<h1>Ramschema</h1>

<div class="info">
    <p>
        Här visas de kurser du sparat i ett individuellt ramschema. Du kan se antalet kurser och totala poäng under
        ramschemat.
        Önskar du radera en kurs klickar du på <i class="fa-solid fa-trash-can fa-lg"></i>-ikonen.
    </p>
</div>

<div *ngIf="savedCourses.length === 0" class="info-empty">
    <p>Inga kurser har sparats.</p>
</div>

<div *ngIf="savedCourses.length > 0" class="page-container">

    <!-- Tabell för mobil -->
    <table class="table-mobile">
        <thead>
            <tr>
                <th id="name">Kursnamn</th>
                <th id="points">HP</th>
                <th id="syllabus">Kursplan</th>
                <th id="save">Radera</th>
            </tr>
        </thead>
        <tbody id="course-info-mobile">
            <tr *ngFor="let course of savedCourses">
                <td>{{ course.courseName }}</td>
                <td>{{ course.points }}</td>
                <td><a href="{{ course.syllabus }}" target="_blank" alt="Länk till kursplan">Kursplan</a></td>
                <td>
                    <i class="fa-solid fa-trash-can fa-lg" (click)="removeCourse(course.courseCode)"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Tabell för desktop -->
    <div class="table-container">
        <table class="table-desktop">
            <thead>
                <tr>
                    <th id="code">Kurskod</th>
                    <th id="name">Kursnamn</th>
                    <th id="points">HP</th>
                    <th id="subject">Ämne</th>
                    <th id="syllabus">Kursplan</th>
                    <th id="save">Radera</th>
                </tr>
            </thead>
            <tbody id="course-info">
                <tr *ngFor="let course of savedCourses">
                    <td>{{ course.courseCode.toUpperCase() }}</td>
                    <td>{{ course.courseName }}</td>
                    <td>{{ course.points }}</td>
                    <td>{{ course.subject }}</td>
                    <td><a href="{{ course.syllabus }}" target="_blank" alt="Länk till kursplan">Kursplan</a></td>
                    <td>
                        <i class="fa-solid fa-trash-can fa-lg" (click)="removeCourse(course.courseCode)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="savedCourses.length > 0" class="points-count">
    <p>Ramschemat innehåller <strong>{{ savedCourses.length }}</strong> kurser med totalt <strong>{{ totalPoints
            }}</strong> poäng.</p>
</div>

<div class="oak-and-quote">
    <img id="oak" [src]="image" alt="En ek">
    <div id="quote">
        <h3>"Det verkar alltid vara omöjligt tills det är gjort."</h3>
        <p>- Zahra Hamadi, tidigare student</p>
    </div>
</div>