// Importerar variabler.
@import '../../base';
@import '../../mixins';

// Informationstext och kursräknare.
.info,
.courses-count, .points-count {
    display: flex;
    justify-content: center;

    p {
        text-align: center;
        max-width: 60ch;
        margin: 0 2rem;
        line-height: 1.6;
    }
}

// Info om att kurser saknas.
.info-empty {
    display: flex;
    justify-content: center;

    p {
        width: 250px;
        text-align: center;
        margin: 2rem 2rem;
        line-height: 1.6;
        font-weight: bold;
    }

}

// Container för kurs-sidan.
.page-container {

    // Kurstabell för mobil/tablet.
    .table-mobile {
        @include table-mobile;

        .fa-solid {
            cursor: pointer;
            padding-left: 0.9rem;
        }
    }

    // Kurstabell för desktop som ej syns i mobil-läget.
    .table-desktop {
        display: none;
    }
}

// Kurs- och poängräknare.
.points-count {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;

    p {
        text-align: center;
        max-width: 60ch;
        margin: 0 2rem;
        line-height: 1.6;
    }
}

// Ek och citat syns inte.
.oak-and-quote {
    display: none;
}


// Mediaquery för större skärmar, 769px och uppåt.
@media (min-width: 769px) {

    // Container för kurs-sidan.
    .page-container {

        // Kurstabell för mobil/tablet som ej syns i desktop-läget.
        .table-mobile {
            display: none;
        }

        // Tabell-container.
        .table-container {
            display: flex;
            justify-content: center;

            .table-desktop {
                @include table-desktop;

                .fa-solid {
                    cursor: pointer;
                    padding-left: 1rem;
                }
            }
        }

        p {
            text-align: center;
            margin: 0 2rem;
        }
    }

    // Ek och citat.
    .oak-and-quote {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 300px;
        margin-top: 4rem;

        #oak {
            opacity: 80%;
        }

        #quote {
            padding: 2rem;
            margin-top: 3rem;
            text-align: right;
            font: 100% $font-stack-italic;

            h3 {
                padding: 1rem;
                font-size: 40px;
                font-weight: lighter;
            }

            p {
                font-size: 30px;
                padding: 1rem;
            }
        }
    }
}

// Mediaquery för större skärmar, 1025px och uppåt.
@media (min-width: 1025px) {

    .oak-and-quote {
        height: 400px;

        #quote {
            margin-top: 6rem;

            h3 {
                padding: 1rem;
                font-size: 50px;
                font-weight: lighter;
            }

            p {
                font-size: 40px;
                padding: 1rem;
            }
        }
    }
}

// Mediaquery för större skärmar, 1920px och uppåt.
@media (min-width: 1920px) {
    .oak-and-quote {
        height: 600px;

        #quote {
            margin-top: 12rem;
            font-size: 125%;
        }
    }
}