// Importerar andra scss-filer.
@import 'base';
@import 'keyframes';

// Normalisering.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body.
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font: 100% $font-stack;
    background-color: rgba($greige, 5%);

    // Rubriker.
    h1 {
        text-align: center;
        padding-top: 3rem;
        margin-bottom: 2rem;
    }
}

// Mediaquery för större skärmar.
@media (min-width: 769px) {

    // Rubriker.
    h1 {
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.5em;
    }
}