// Importerar variabler.
@import 'variables';

// Normalisering.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body.
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font: 100% $font-stack;
    background-color: rgba($greige, 5%);

    // Rubriker.
    h1 {
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2.5em;
    }

    h2 {
        padding-top: 1rem;
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
}