<div class="header">
    <h1>Hässle Högskola</h1>
    <div>
        <p>En plats präglad av nyfikenhet och utveckling,
            med naturen rakt utanför dörren.</p>
    </div>
</div>

<div class="statistics">
    <h2>4328 kurser</h2>

    <h2>54 ämnen</h2>
</div>

<div class="div-container">
    <a href="/not-found" class="info-box">
        <div id="education">
            <img class="info" [src]="image1" alt="Studenter studerar i grupp">
            <h2>Studera hos oss</h2>
            <p>Hässle Högskola är en liten högskola belägen i en vacker, viktig och driven kommun.
                Hos oss finns många av landets bästa kurser som leds av professionella och praktiknära lärare.</p>
        </div>
    </a>

    <a href="/not-found" class="info-box">
        <div id="student">
            <img class="info" [src]="image2" alt="Studenter studerar utomhus">
            <h2>Livet som student</h2>
            <p>Att vara student på Hässle Högskola omfattar så mycket mer än studier. 
                Upptäck kåren och föreningar, träffa nya vänner och upplev nya saker även utanför din utbildning.</p>
        </div>
    </a>

    <a href="/not-found" class="info-box">
        <div id="courses">
            <img class="info" [src]="image3" alt="Webbutveckling">
            <h2>Populära kurser</h2>
            <p>På Hässle Högskola hittar du många populära kurser på olika nivåer. 
                Många av kurserna ingår i yrkesprogram som har stor efterfrågan på arbetsmarknaden.
            </p>
        </div>
    </a>

    <a href="/not-found" class="info-box">
        <div id="hassleholm">
            <img class="info" [src]="image4" alt="Student spelar fotboll">
            <h2>Om Hässleholm</h2>
            <p>Hässleholms Kommun är Skånes största kommun och har mycket att erbjuda dig som student. 
                En omväxlande natur, stort kulturutbud och aktiviter både ute och inne.</p>
        </div>
    </a>
</div>

<div class="buttonToCourses">
    <a href="/courses"><button class="button">Utforska våra kurser här<i
                class="fa-solid fa-arrow-right"></i></button></a>
</div>

<div class="oak-and-quote">
    <img id="oak" [src]="image5" alt="En ek">
    <div id="quote">
        <h3>"Utbildning är det viktigaste du kan använda för att förändra världen."</h3>
        <p>- Johan Hassellund, rektor</p>
    </div>
</div>